html, body {
    height: 100%;
}

.full-height {
    height: 80%;
}

.nav-height {
    height: 8%;
}

.footer-height {
    height: 5%;
}

#content_container {
    position: relative;
    width: 100vw;
}

#search_container, #add_site_container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 90vw;
}