html, body {
    height: 100%;
}

body {
    overflow: auto;
    overflow-x: hidden;
}

main{
    min-height: calc(100vh - 56px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin-bottom: 0;
}

.full-height {
    height: 80%;
}

.nav-height {
    height: 8%;
}

.footer-height {
    height: 5%;
}

p.result_headline {
    color: blue;
    font-weight: bold;
    font-size: large;
}

p.result_preview {
    color: gray;
}

p.result_link {
    color: green;
}

#content_container {
    width: 100vw;
    align-items: center;
    padding: 40px 80px;
}

footer {
    background-color: lightgray;
    bottom: 0px;
    width: 100%;
}