html, body {
    height: 100%;
}

body {
    overflow: auto;
}

#content {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    padding: 0px 10%;
    margin-top: 60px;
}

p {
    margin-bottom: 0;
}

.full-height {
    height: 100%;
}

.nav-height {
    height: 8%;
}

.footer-height {
    height: 5%;
}

p.result_headline {
    color: blue;
    font-weight: bold;
    font-size: large;
}

p.result_preview {
    color: gray;
}

p.result_link {
    color: green;
}

#content_container {
    position: relative;
    width: 100vw;
    align-items: center;
}

#results_container {
    padding: 40px;
    max-width: 800px;
    position: absolute;
    top: 50px; left: 5%;
    width: 90vw;
}

footer {
    background-color: lightgray;
    bottom: 0px;
    left: 0;
    position: fixed;
    right: 0;
}